# Default ignored files
/../../yoloForStampDetection /.idea/shelf/
/../../yoloForStampDetection /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../yoloForStampDetection /.idea/httpRequests/
